.borg-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.borg-button-label {
    font-size: 20px;
}

.borg-button, .borg-button:hover {
    height: 50px;
    width: 200px;
    font-size: 20px;
}


.borg-button.selected {
    background-color: yellowgreen;
}