.borg-button, .borg-button:hover {
    color: black;
    background-color: white;
    height: 50px;
    width: 200px;
    font-size: 20px;
}
.borg-button:active, .borg-button:focus {
    background-color: yellowgreen;
}